*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

p { display: inline }
.input{
  width: 40%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  color: green;
}

.input2 {width: 19.5%;}
.input3 {width: 80%;}
.blackText
    {
        color:black;
        font-weight:bold;
    }
.button {
  background-color: #4CAF50; /* Green */
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border: 2px solid black;
  border-color: black;
  width:40%;
}
.button:hover {
  background-color: white;
}
.button20 {width:19.5%;} /* Blue */
.button2 {background-color: #008CBA;} /* Blue */
.button2_20 {background-color: #008CBA; width:19.5%;} /* Blue */
.button3 {background-color: #f44336;} /* Red */
.button3_20 {background-color: #f44336; width:19.5%;} /* Red */
.flex-container {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
}

.flex-container > div {

  width: flex;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 40px;
}

body {
  text-align: center;
font-family: "Lucida Sans",  sans-serif;
height: 100vh;
display flex;
justify-content: center;
flex-direction: column;
align-items: center;
background: linear-gradient(to bottom right, rgb(48, 62, 143), black, rgb(48, 62, 143));
color: white;

}
{
  box-sizing: border-box;
}
.head {
text-align: right;
}
.header {
text-align: center;
//  background-color: #3F888F;
  color: #ffffff;
  padding: 15px;

}

.menu {
  width: 25%;
  float: left;
  padding: 15px;
  border: 1px solid red;
}

.main {
  width: 75%;
  float: left;
  padding: 15px;
  border: 1px solid red;
}

#chatBox {
    text-align:left;
    margin:0 auto;
    margin-bottom:25px;
    padding:10px;
    background:black;
    font-size:12px;
    height:270px;
    width:430px;
    border:1px solid #ACD8F0;
    overflow:auto; }
